.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.delete-button {
  color: red;
}

.link {
  text-decoration: none;
  color: black;
}

#missed-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
}